dotenv>=0.9.9
duckduckgo-search>=8.0.1
fastapi>=0.115.12
langchain>=0.3.25
langchain-community>=0.3.23
langchain-groq>=0.3.2
langchain-ollama>=0.3.2
langgraph>=0.4.3
langserve>=0.3.1
setuptools
sse-starlette>=2.3.4
uvicorn>=0.34.2
